@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lobster&display=swap');
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;    
    font-family: 'DM Serif Display', serif;
    font-weight: 400; 
}  
*:focus{
    outline: none;
}
body{  
    background-image: linear-gradient(to top, #ffffff, #fcfbfe, #faf7fe, #f8f3fc, #f6effb, #edddf7, #e5caf2, #ddb7ec, #ca92e2, #b56cd8, #9e43ce, #8500c3);
}
.container__menuresponsive-menu{  
    position: fixed;  
    top: 0;
    width: 100%; 
    height: 100vh; 
    left: 1400px; /* cambiar a 0 */
    
    display: block; 
    background: #f2eff3;   
    transition: all 1s;
    z-index: 10;
} 
.container__menuresponsive__menu-icon {
    position: absolute;  
    font-size: 2em; 
    color: #8500c3;
    right: 0;
}
.container__menuresponsive__menu-mainfiltrer{ 
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    flex-direction: column;
    width: 100%; 
    height: 100%;
}  
.container__menuresponsive__menu-mainfiltrer img{
    width: 60%;
}

.container__menuresponsive__menu-mainfiltrer > div{ 
    padding:30px 0 10px 10px;
    width: 90%; 
    border-bottom:3px solid #cd98ee;
} 
.container__menuresponsive__menu-mainfiltrer p {
    font-size: 1.3em;
    color: #64248b; 
    cursor: pointer;
}


.container__nav{ 
    width: 100%; 
    height: 20%;
    display: flex;  
    justify-content: flex-start; 
    align-items: center;  
    background: transparent; 
   /* background: rgb(249,249,249);
    background: linear-gradient(93deg, rgba(249,249,249,1) 8%, rgba(151,78,195,1) 57%, rgb(171, 63, 238) 96%);*/
} 
.container__menuresponsive{
    display: none;
}
.container__nav-logotipo{  
    position: relative;
    display: flex; 
    justify-content:flex-start ; 
    align-items: flex-start; 
    width: 10%; 
    margin-right: 3%; 
    background:#fff; 
   
}
.container__nav-logotipo img{
    cursor: pointer; 
    width: 100%; 
    border-radius: 100%;
    object-fit: fill;  
} 
.container__nav-search   {  
    position: relative;
    width: 50%; 
} 
.container__nav-search input{ 
    width: 100%; 
    padding: 15px  ;  
    border: 1px solid #974ec3; 
    font-weight: 400; 
    color: #380b53; 
    border-radius: 50px 50px 50px 50px;
    background: #ebe0e4;
}
.container__nav-search input:focus{
    outline-color: #bf7ce9;
}
.container__servicios{
    width: 100%; 
    height: 150vh;
}
.container__servicios-menuvar{ 
    display: flex;
    width: 100%;
    height: 7%;    
    box-shadow: 10px 0px 30px #380657;
} 
.container__servicios__menuvar-categoria{  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: nowrap;
    width: 15%; 
    height: 100%; 
    color: #f0e0f5;   
    z-index: 1000;
}
.container__servicios-menuvar :hover{    
    color: #380657;
} 
.container__servicios__menuvar-categoria:hover{     
    transition: all 0.7s; 
    transform: translateY(-10px);
} 
.container__servicios__menuvar-categoria:hover .container__servicios__menuvar__categoria-list{
    display: block; 
}
.container__servicios__menuvar-categoria i{   
    text-transform: uppercase;
    font-style: normal;
    cursor: pointer;
    text-align: center; 
    font-size: 1em; 
    font-weight: lighter; 
    padding-right: 5px; 
} 

.container__servicios__menuvar__categoria-list { 
    display: none;
    position: absolute; 
    width: 100%; 
    height: auto; 
    top: 73px;  
    background: #dbacf3;  
    border-radius: 0 0 5px 5px; 

} 
.container__servicios__menuvar__categoria-list a{
    display: block;
    width: 100%; 
    height: 100%;  
    text-decoration: none;
    padding: 15px;
    text-align: center; 
    color: #380657; 
    cursor: pointer; 

} 
.container__servicios__menuvar__categoria-list a:hover{ 
    transition: all .5s;
    color: #f5f5f5; 
    background: #380b53;
}
.container__icon-search{   
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center;  
    position: absolute;  
    font-size: 1.4em; 
    background: #380b53; 
    color: #fff;  
     
    width: 8%;
    height: 100%;  
    border-radius: 0 50px 50px 0;  
    right: 0; 
    top: 0;
}
.container__icon-search:hover{
    background: #a54ddb;
}

.container__card{   
    position: relative;
    text-align: end; 
    font-size: 2.5em; 
    padding: 0 30px; 
    color: #fff;
    width:40%; 
}
.container__card-count{  
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: absolute; 
    top: 0; 
    right: 10px;
    text-align: center;
    width: 20px; 
    height: 20px; 
    font-size: .3em;   
    border-radius: 100%; 
    border: 2px solid #fff;
    color: #fff;
    background: #380657;   
}  

.container__eventosCarrucel{
    position: relative;
    width: 100%; 
    height: 50vh;   
    background-size:cover; 
    opacity: 1;
    transition: background-image 0.5s ease;
}

.container__evenetosCarrucel__slider__componentes{
    position: absolute;  
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%; 
    height: 100%;
}
.container__evenetosCarrucel__slider__componentes h4{ 
    font-size: 2em; 
    padding: 15px;
    width: 75%;
} 
.container__evenetosCarrucel__slider__componentes a {
    width: 20%; 
    padding: 10px; 
    text-align: center;  
    font-size: 1em;
    text-decoration: none;  
    color: #0e0e0e;
    border: 2px solid #0e0e0e;
}
.container__evenetosCarrucel__slider__componentes a:hover{
    background: #c376f0;
}

.container__tapp_slider-left{ 
    position: absolute;  
    padding: 5px; 
    font-size: 1.6em;
    left: 0; 
    top: 50%;  
    color: #380657; 
    cursor: pointer;  
    z-index: 10;
} 

.container__tap_slider-right{
    position: absolute;  
    padding: 5px;
    font-size: 1.6em;
    top: 50%;
    right: 0;
    color: #380657; 
    cursor: pointer; 
    z-index: 10;
}
.container__servicios__main{ 
    display: flex;   
    flex-direction: column;
    width: 100%; 
    height: auto;
    background: #f5eaee;    
}  
.container__servicios__main__title{ 
    padding: 15px;
    font-size: 2.2em; 
    color: #8500c3;
}
.container__servicios__main__filtrer{ 
    width: 100%;   
    height: 10vh;
    padding: 1% 0;
    display: flex;   
    justify-content: flex-start;
    align-items: left;
    gap: 0 10px ; 
    background: #fffcfd; 
}  

.container__servicios__main__filtrer >div{  
    text-align: center;
    width: 14%; 
    height: 100%;    
    padding: 10px;  
    cursor: pointer;
}
.container__servicios__main__filtrer >div:hover{
    border-bottom:5px solid #7d37a5; 
    color: #c560ff;
}  
.container__servicios__main-collectionCards{ 
    display: flex;  
    max-width: 100%;  
    height: auto;
    flex-wrap: wrap;
    overflow-y:hidden;
  
    margin-top: 20px; 
}
.container__servicios__main__cards{ 
    position: relative;
    width: 23.5%;   
    max-height: 62%;
    margin: 10px 9px;  
    background: rgb(224, 220, 220) ; 
    border-radius: 5px;
} 

.container__servicios__main__cards img{ 
    object-fit: cover;
    width: 100%;  
    height: 45vh;
    
   
}
.container__servicios__main__items-descripcion h4{ 
    padding: 5px;
    font-size: 1em; 
} 
.container__servicios__main__items__descripcion-info{ 

    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
}

.container__servicios__main__items-info{
    position: absolute;  
    display: none;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 100%;
    height: 100%; 
    top: 0; 
    background: #380b53; 
}

.container__servicios__main__items-info p {
    width: 80%; 
    text-align: center;
    font-size: 1em;
    color: #e5caf2;
    padding: 5px;
}
.container__servicios__main__items-info button{ 
    cursor: pointer;
    width: 45%; 
    height: 30px; 
    font-size: 0.8em;
    color: #380657;
    background: #ebe0e4; 
    outline: none; 
    border: none;
    border-radius: 20px;  
}
.container__servicios__main__items-info button:hover{ 
    transition: all 1.2s;
    background: #c376f0; 
    width: 50%;
}
.container__servicios__main__items-info span{   
    position: absolute;
    cursor: pointer; 
    top: 0;
    right: 0; 
    padding: 15px;
    color: #f5f5f5;  
    font-size: 1.5em;  
}

.container__servicios__main__items__descripcion-info button{
    width: 50%; 
    padding: 3px;  
    text-align: center;  
    cursor: pointer;
    color: #fff;
    background: #8500c3; 
    border: none; 
    border-radius: 5px;
} 

@media (300px <=width <=767px) {

    *{  
       
    }

    .container__servicios-menuvar{
        display: none;
    }
    .container__menuresponsive{
        display: inline; 
        font-size: 2.7em; 
        color: #f3f2f2;
    }  
    
    .container__nav{ 
        display: flex;
    } 
    .container__card{   
        width: auto;   
        display: flex;  
        font-size: 2.5em; 
        padding: 13px;
        justify-content: center; 
        align-items: center;
    }
    .container__nav-search{  
        width: 80%; 
       
    } 
    .container__nav-search span{
        width: 10%;
    }
    .container__nav-search input{ 
        font-size: 0.8em;
        width: 100%; 
       border-radius: 50px; 
    }

    .container__nav-logotipo,
    .container__nav-logotipo img { 
        display: none;
    }

    .container__servicios__main__filtrer{ 
        width: 100%;
    } 
    .container__servicios__main__filtrer > div{  
        text-wrap:balance ;
        font-size: 0.6em;
        width: 20%;
    }
    .container__servicios__main-collectionCards{
        justify-content: center;
    }
    .container__servicios__main__cards{ 
        margin: 10px 10px 10px 0;
        width: 45%; 

    }
    .container__servicios__main__cards img{ 
        height: 30vh;
    }
    .container__servicios__main__cards  h4{ 
        text-wrap:balance ;
        font-size: 1.1em;
    }
    .container__servicios__main__items__descripcion-info{ 
        display: flex;  
        justify-content:center;
        align-items: center; 
        flex-direction: column;    
    }
    .container__servicios__main__items__descripcion__info-precio{
        width: 90%;  
        padding: 5px;
        font-size: 1.2em;  
        text-align: center;
        color: #64248b; 
    } 
   
    .container__servicios__main__items__descripcion-info  button{ 
        text-align: center;
        width: 90%; 
        height:30px; 
        font-size: 0.7em;
    }
    .container__servicios__main__items-info p{
        font-size: 0.7em;
    }
    .container__servicios__main__items-info button { 
        width: 80%;
        font-size: 0.7em;
    }
    .container__menuresponsive__menu-mainfiltrer{
        overflow-y: scroll;
        max-height: 100vh;
    }
    .container__servicios__main__filtrer > div{ 
        display: flex; 
        justify-content: center;
        align-items: center;
        font-size: 1em; 
        width: 30%;
    }
    .container__menuresponsive__menu-mainfiltrer form{ 
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        width: 100%;
    }
    .container__menuresponsive__menu-mainfiltrer a{
        display: block; 
        width: 50%;  
        padding: 20px 0;
        font-size: 1.5em;  
        text-align: center;
        text-wrap:balance ;
        text-decoration: none; 
        color: #380b53; 
        border-bottom: 2px solid #9e43ce;
    }
}        



